{% extends "base.html" %}

{% block title %}Password reset sent{% endblock title %}

{% block content %}
<div class="row">
  <div class="small-12 columns">
    <h1>Password reset sent</h1>

    {% if not resent %}
    <p>We have sent you an email. If you do not receive it within a
    few minutes, try resending.</p>

    <form method="post" action="{% url 'account_password_reset' %}">
      {% csrf_token %}
      {% for field in form %}
      {{ field.as_hidden }}
      {% endfor %}
      <button type="submit" name="resend">Resend</button>
    </form>
    {% else %}
    <p>We have resent the password email.</p>
    {% endif %}
  </div>
</div>
{% endblock content %}
