# Backup files
*~

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.env
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
sdist/
wheels/
*.egg-info/
*.egg

# Django
staticfiles/
local_settings.py

# Kiln
kiln/sw/jetty/logs/
kiln/webapps/ROOT/WEB-INF/logs/
kiln/webapps/openrdf-sesame/app_dir/
kiln/webapps/solr/data/
kiln/sw/jetty/temp/

# Docker
.cache
.env*
docker-compose.override.yml
volumes/eats_exports
volumes/postgres_*
volumes/traefik/.htpasswd
volumes/traefik/acme
