.marker-cluster-small {
	background-color: rgba(235, 143, 143, 0.5);
	}
.marker-cluster-small div {
	background-color: rgba(227, 100, 100, 0.7);
	}

.marker-cluster-medium {
	background-color: rgba(231, 105, 113, 0.5);
	}
.marker-cluster-medium div {
	background-color: rgba(227, 51, 65, 0.7);
	}

.marker-cluster-large {
	background-color: rgba(227, 92, 92, 0.5);
	}
.marker-cluster-large div {
	background-color: rgba(222, 0, 0, 0.7);
	}

	/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
	background-color: rgb(181, 226, 140);
	}
.leaflet-oldie .marker-cluster-small div {
	background-color: rgb(110, 204, 57);
	}

.leaflet-oldie .marker-cluster-medium {
	background-color: rgb(241, 211, 87);
	}
.leaflet-oldie .marker-cluster-medium div {
	background-color: rgb(240, 194, 12);
	}

.leaflet-oldie .marker-cluster-large {
	background-color: rgb(253, 156, 115);
	}
.leaflet-oldie .marker-cluster-large div {
	background-color: rgb(241, 128, 23);
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	}
.marker-cluster div {
	width: 20px;
	height: 20px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 8px;
	font: 10px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
.marker-cluster span {
	line-height: 20px;
	}
