{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    {% block css %}
    <link rel="stylesheet" href="{% static 'foundation/css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'foundation/css/foundation.css' %}" />
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/ui-lightness/jquery-ui.css" type="text/css" />
    {% endblock css %}
    {% block js %}
    <script src="{% static 'foundation/js/vendor/modernizr.js' %}"></script>
    <script src="{% static 'foundation/js/vendor/jquery.js' %}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    {% endblock js %}
  </head>
  <body>
    {% block topnav %}
    <nav class="top-bar" data-topbar="" role="navigation">
      <ul class="title-area">
        <li class="name"><h1><a href="{% url 'records-home' %}">eREED</a></h1></li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <li class="has-dropdown">
            <a href="#">Account</a>
            <ul class="dropdown">
              {% if request.user.is_authenticated %}
              <li><a href="{% url 'account_settings' %}">Settings</a></li>
              <li><a href="{% url 'account_logout' %}">Log out</a></li>
              {% else %}
              <li><a href="{% url 'account_login' %}">Log in</a></li>
              <li><a href="{% url 'account_signup' %}">Sign up</a></li>
              {% endif %}
            </ul>
          </li>
          {% if request.user.is_authenticated %}
          <li class="has-dropdown">
            <a href="#">EATS</a>
            <ul class="dropdown">
              <li><a href="{% url 'eats-home' %}">Home</a></li>
              <li><a href="{% url 'eats-search' %}">Search</a></li>
              <li class="has-form"><form method="get" action="{% url 'eats-search' %}"><input name="name" type="search" placeholder="Search" /></form></li>
              <li><a href="{% url 'eats-entity-add' %}">Add an entity</a></li>
              <li><a href="{% url 'eats-administration-panel' %}">Administration</a></li>
              <li><a href="{% url 'eats-show-duplicates' %}">Duplicates</a></li>
            </ul>
          </li>
          <li class="has-dropdown">
            <a href="#">Document processing</a>
            <ul class="dropdown">
              <li><a href="{% url 'text_prepare:validate' %}">Validate</a></li>
              <li><a href="{% url 'text_prepare:convert' %}">Convert to TEI</a></li>
            </ul>
          </li>
          {% endif %}
        </ul>
      </section>
    </nav>
    {% endblock topnav %}
    {% block content %}
    {% endblock content %}
    {% block endjs %}
    <script src="{% static 'foundation/js/vendor/fastclick.js' %}"></script>
    <script src="{% static 'foundation/js/foundation.min.js' %}"></script>
    <script>$(document).foundation();</script>
    {% endblock endjs %}
  </body>
</html>
