<p>A validation error occurred at or following the marked point in {{ filename }}:</p>

<div class="panel callout">
  <pre>{{ error }}</pre>
</div>

<p>Very often the error is one of improper nesting of codes
(incorrect: "<span style='color: #7b3294;'>@i\</span><span style='color:
#008837'>@a\</span>...<span style='color: #7b3294;'>@i/</span><span
style='color: #008837'>@a/</span>"; correct:
"<span style='color: #7b3294;'>@i\</span><span style='color:
#008837'>@a\</span>...<span style='color:
#008837'>@a/</span><span style='color: #7b3294;'>@i/</span>"). In such
cases, the mark for where the error occurred points to the start of
the range that contains the error.</p>

<p>Errors pointing to the opening of a table ("&lt;t&gt;") typically occur
when there is a problem within that table's contents.</p>

<p>If you have an error showing an ending @-code with a space in it
(eg: @i \), you have supplied the wrong file. Run the update process
on this document and submit the saved results of that here.</p>
